.buySection {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buySection > .title {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
}

.buySection > .title > .icon {
  margin-inline: 0.1rem;
  width: 32px;
  height: 32px;
  color: #333333;
}

.buySection > .title > h2 {
  font-family: Google Sans;
  font-weight: 500;
  font-size: 1.4rem;
  color: #333333;
}

.buySection > .form {
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

@media (min-width: 80rem) {
  .buySection {
    width: 49rem;
  }
}
