.purchaseHistorySection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  min-height: calc(100vh - 27rem);
  background-color: #ffffff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.purchaseHistorySection > h3 {
  font-family: Google Sans;
  font-weight: 500;
  color: #333333;
  text-align: center;
}

.purchaseHistorySection > .purchaseContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.8rem;
}

.purchaseHistorySection > .noPurchases {
  align-items: center;
  justify-content: center;
  height: calc(100vh - 30rem);
}

.purchaseHistorySection > .noPurchases > h3 {
  font-family: Google Sans;
  font-weight: 500;
  color: #333333;
}

.purchaseHistorySection > .purchaseContainer > .card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.purchaseHistorySection > .purchaseContainer > .card > .purchaseCard {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  background-color: #f0f5fa;
  padding: 1rem;
  border: 1px solid #dce3e8;
  width: 100%;
}

.purchaseHistorySection > .purchaseContainer > .card > .button {
  width: 100%;
  height: 3rem;
  background-color: #e94242;
  border: 1px solid #dce3e8;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.purchaseHistorySection > .purchaseContainer > .card > .button:hover {
  background-color: #C02E2E;
}

.purchaseHistorySection > .purchaseContainer > .card > .button > .icon {
  width: 25px;
  height: 25px;
  color: #FFFFFF;
}

.purchaseHistorySection > .purchaseContainer > .card > .purchaseCard > .info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.purchaseHistorySection
  > .purchaseContainer
  > .card
  > .purchaseCard
  > .info
  > .title,
.purchaseHistorySection
  > .purchaseContainer
  > .card
  > .purchaseCard
  > .info
  > .content {
  font-family: Google Sans;
  font-weight: 700;
  font-size: 1rem;
  color: #333333;
  width: 60%;
}

.purchaseHistorySection
  > .purchaseContainer
  > .card
  > .purchaseCard
  > .info
  > .content {
  font-weight: 500;
  opacity: 0.8;
  width: 40%;
}

@media (min-width: 40rem) {
  .purchaseHistorySection > .purchaseContainer > .card {
    padding-inline: 1rem;
    flex-direction: row;
  }

  .purchaseHistorySection > .purchaseContainer > .card > .button {
    width: 6rem;
    height: auto;
    border: 1px solid #e94242;
  }

  .purchaseHistorySection > .purchaseContainer > .card > .purchaseCard {
    flex-direction: row;
    justify-content: space-between;
  }

  .purchaseHistorySection > .purchaseContainer > .card > .purchaseCard > .info {
    flex-direction: column;
    width: 100%;
  }

  .purchaseHistorySection
    > .purchaseContainer
    > .card
    > .purchaseCard
    > .info
    > .title,
  .purchaseHistorySection
    > .purchaseContainer
    > .card
    > .purchaseCard
    > .info
    > .content {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 80rem) {
  .purchaseHistorySection {
    max-width: 80rem;
    margin: auto;
    margin-top: 1rem;
  }
}
