.userInfoSection {
  display: flex;
  flex-direction: column;
  margin: 5rem 1rem 0rem 1rem;
  padding: 1rem;
  gap: 1rem;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.userInfoSection>.profilePictureUsernameEdit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.userInfoSection>.profilePictureUsernameEdit>.profilePictureUsername {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 80%;
}

.userInfoSection>.profilePictureUsernameEdit>.profilePictureUsername>.profilePicture {
  min-width: 4rem;
  height: 4rem;
  background-size: cover;
  background-position: center;
}

.userInfoSection>.profilePictureUsernameEdit>.profilePictureUsername>.noProfilePicture {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  height: 4rem;
  background-color: #FF716C;
  font-family: Google Sans;
  font-weight: 500;
  color: #FFFFFF;
}

.userInfoSection>.profilePictureUsernameEdit>.profilePictureUsername>.username {
  font-family: Google Sans;
  font-weight: 500;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userInfoSection>.otherInformation {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.userInfoSection>.otherInformation>h3 {
  font-family: Google Sans;
  font-weight: 500;
  font-size: 1rem;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}