

 .card {
  position: relative;
  width: 100%;
  height: 12rem;
  background-color: #384b59;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
	align-items: flex-end;
  border: none;
  cursor: pointer;
  z-index: 2;
	overflow: hidden;
}
.card > .image {
	position: absolute;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	z-index: 3;
}

.card > .info {
  display: flex;
  flex-direction: column;
	justify-content: flex-end;
  align-items: flex-end;
	position: relative;
	z-index: 4;
}

.card > .info > h2,
.card > .info > h3 {
  font-family: Google Sans;
  font-weight: 500;
  color: #ffffff;
}

.card > .info > h3 {
  font-weight: 400;
}

@media (min-width: 80rem) {
  .card {
    width: 51.5rem;
  }
}
