.form {
  width: 32.48%;
}

.form>.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  height: auto;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.form>.card>.startSectionCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
}

.form>.card>.startSectionCard>.image {
  width: 100%;
  height: 14rem;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.form>.card>.startSectionCard>h2 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
}

.form>.card>.startSectionCard>h4 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  width: 100%;
  opacity: 0.8;
}

.form>.card>.endSectionCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.form>.card>.endSectionCard>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  gap: 0.5rem;
}

.form>.card>.endSectionCard>div>.predefinedPrice {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-width: 1px;
  border-radius: 4px;
  height: 2rem;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.form>.card>.endSectionCard>div>.predefinedPrice:hover,
.form>.card>.endSectionCard>div>.selectPredefinedPrice {
  background-color: rgba(0, 0, 0, 0.1);
}

.form>.card>.endSectionCard>div>h4 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
}

.form>.card>.endSectionCard>.quantity>h4 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-style: solid;
  border-right: 0px;
  border-radius: 4px 0px 0px 4px;
  border-width: 1px;
  border-color: #000000;
  height: 2rem;
  padding-inline: 0.5rem;
}

.form>.card>.endSectionCard>.quantity>input {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  padding: 0.5rem;
  border-width: 1px;
  border-radius: 0px 4px 4px 0px;
  width: 100%;
  height: 2rem;
  outline: 1px;
}

.form>.card>.endSectionCard>.quantity {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  width: 100%;
}

.form>.card>.endSectionCard>.addToCart {
  margin-top: 0.5rem;
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  background-color: #A7C957;
  border-width: 0px;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.form>.card>.endSectionCard>.addToCart:hover {
  color: rgba(255, 255, 255, 1);
}