.button {
  font-family: Google Sans;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  background-color: #E94242;
  border: 2px solid #FF716C;
  cursor: pointer;
  padding: 0.25rem 1rem;
  outline: none;
  width: 40%;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.button:hover {
  background-color: #C02E2E;
}