.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 5rem;
}

.section > .container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-inline: 1rem;
}

.section > .container > .titleSection {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.section > .container > .titleSection > .icon {
	min-width: 35px;
	max-width: 35px;
	height: auto;
	color: #333333;
}

.section > .container > .titleSection > h2 {
	font-family: Google Sans;
	font-weight: 700;
	color: #333333;
	white-space: nowrap;
	font-size: 1.4rem;
}

.section > .container > .titleSection > .line {
	width: 100%;
	height: 1px;
	background-color: #333333;
}

.section > .container > h3 {
	font-family: Google Sans;
	font-weight: 400;
	font-style: italic;
	color: #333333;
	font-size: 1rem;
}

.section > .container > .card {
	position: relative;
	margin-top: 1rem;
	width: 100%;
	height: 12rem;
	background-color: #ffffff;
	box-shadow: 0px 2px 8px rgba(0 , 0, 0, 0.05);
	border-radius: 8px;
	padding: 0rem 1rem 1rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: none;
	z-index: 2;
}

.section > .container > .card > .icon {
	width: 5rem;
	height: 5rem;
	color: #333333;
}

.section > .container > .card > .info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.section > .container > .card > .info > h2,
.section > .container > .card > .info > h3 {
	font-family: Google Sans;
	font-weight: 500;
	color: #333333;
}

.section > .container > .card > .info > h3 {
	font-weight: 400;
}

/* @media (min-width: 25rem) {
	.section > .container > .card {
		margin: auto;
		margin-top: 1rem;
		width: 25rem;
	}
} */

@media (min-width: 80rem) {
	.section {	
		max-width: 80rem;
		margin: auto;
		margin-bottom: 5rem;
	}
}

@media (min-width: 1367px) {
	.section > .container > .titleSection > h2 {
		font-size: 1.4rem;
	}

	.section > .container > h3 {
		font-size: 1.2rem;
	}
}
