.mdShoppingCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 100%;
  cursor: pointer;
  outline: none;
  background-color: #FFFFFF;
  border: none;
}

.mdShoppingCart:hover {
  background-color: #F0F5FA;
}

.mdShoppingCart>.icon {
  width: 1.4rem;
  height: 1.4rem;
  color: #333333;
}

.mdShoppingCart>h5 {
  font-family: Google Sans;
  font-weight: 400;
  white-space: nowrap;
  color: #333333;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.cart {
  z-index: 102;
  background-color: #F0F5FA;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.cart>.headerCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

.cart>.headerCart>.headerTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart>.headerCart>.icon,
.cart>.headerCart>.headerTitle>.icon {
  width: 25px;
  height: auto;
  color: #333333;
  cursor: pointer;
}

.cart>.headerCart>.headerTitle>h2 {
  font-family: Google Sans;
  font-weight: 700;
  font-size: 1.25rem;
  color: #333333;
}

.cart>.allProducts {
  display: block;
  padding: 1rem 0rem;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.cart>.noProducts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart>.noProducts>h3 {
  font-family: Google Sans;
  font-weight: 700;
  font-size: 1.3rem;
  color: #333333;
}

.cart>.allProducts>.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  gap: 1rem;
  width: 100%;
}

.cart>.allProducts>.product>.productButtonInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart>.allProducts>.product>.productButtonInfo>.trashButton {
  width: 30px;
  height: 30px;
  color: #333333;
  cursor: pointer;
  transition: all 0.15s;
}

.cart>.allProducts>.product>.productButtonInfo>.trashButton:hover {
  color: #E94242;
}

.cart>.allProducts>.product>.productButtonInfo>.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.cart>.allProducts>.product>.productButtonInfo>.productInfo>h3 {
  font-family: Google Sans;
  font-weight: 500;
  font-size: 1.2rem;
  color: #333333;
}

.cart>.allProducts>.product>.productButtonInfo>.productInfo>h5 {
  font-family: Google Sans;
  font-weight: 400;
  color: #333333;
}

.cart>.allProducts>.product>h4 {
  font-family: Google Sans;
  font-weight: 500;
  color: #333333;
}

.cart>.footerCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #FFFFFF;
  box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.15);
}

.cart>.footerCart>.footerInfo{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.cart>.footerCart>.footerInfo>h3 {
  font-family: Google Sans;
  font-weight: 500;
  font-size: 1.2rem;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cart>.footerCart>.footerInfo>h4 {
  font-family: Google Sans;
  font-weight: 400;
  font-size: 1rem;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cart>.footerCart>.footerButton {
  font-family: Google Sans;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  background-color: #E94242;
  border: 2px solid #FF716C;
  cursor: pointer;
  padding: 0.25rem 1rem;
  outline: none;
  width: 40%;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.cart>.footerCart>.footerButton:hover {
  background-color: #C02E2E;
}

.cart>.footerCart>.footerButtonNoProducts {
  filter: brightness(0.5);
  cursor: default;
}

.cart>.footerCart>.footerButtonNoProducts:hover {
  background-color: #E94242;
}

@media (min-width: 30rem) {
  .cart {
    width: 30rem;
  }
}