.carouselContainer {
  margin-top: 5rem;
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.carouselContainer>div {
  width: 85rem;
}

.carouselContainer>div>div {
  width: 346rem;
}

.carouselContainer>div>div>.styledCarousel {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 2rem;

  transition: all 1s;
}

.carouselContainer>div>div>.styledCarousel>.link {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0px 2px 8px rgba(0 , 0, 0, 0.05);
}

.carouselContainer>div>div>.styledCarousel>.link>.styledImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}