.servicesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}

.servicesSection>.servicesContainer {
  display: flex;
  flex-direction: column;
  width: 80rem;
}

.servicesSection>.servicesContainer>.titleSection {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.servicesSection>.servicesContainer>.titleSection>.icon {
  width: 35px;
  height: 35px;
  color: #333333;
}

.servicesSection>.servicesContainer>.titleSection>.pointer {
  cursor: pointer;
}

.servicesSection>.servicesContainer>.titleSection>.pointer:hover {
  color: #E94242;
}

.servicesSection>.servicesContainer>.titleSection>h2 {
  font-family: Google Sans;
  font-weight: 700;
  color: #333333;
  white-space: nowrap;
}

.servicesSection>.servicesContainer>.titleSection>.line {
  width: 100%;
  border-top: 1px solid #333333;
}

.servicesSection>.servicesContainer>h3 {
  font-family: Google Sans;
  font-weight: 400;
  font-style: italic;
  color: #333333;
}