.service {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5rem;
	padding-inline: 1rem;
}

.service > .iconTitle {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.service > .iconTitle > .icon {
	width: 30px;
	height: auto;
	color: #333333;
}

.service > .iconTitle > h2 {
	font-family: Google Sans;
	font-weight: 700;
	text-align: center;
	color: #333333;
	white-space: nowrap;
}

.renderProducts {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1rem;
	margin: 1rem;
	gap: 1rem;

	min-height: calc(100vh - 9rem);
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
}

@media (min-width: 80rem) {
	.service {
		max-width: 80rem;
		margin: auto;
		margin-top: 5rem;
	}

	.renderProducts {
		flex-direction: row;
		flex-wrap: wrap;
		min-height: calc(100vh - 16.8rem);
		max-width: 80rem;
		margin: auto;
		margin-top: 1rem;
	}
}
