.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 2rem;
	padding: 2.5rem 3rem;
}

.container > h2 {
	font-family: Google Sans;
	font-weight: 500;
	color: #333333;
}

.container > .inputs {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}

.container > .inputs > .labelInput {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.container > .inputs > .labelInput > label,
.container > .inputs > .labelInput > .labelPassword > label {
	font-family: Google Sans;
	font-weight: 400;
	color: #333333;
	font-size: 0.9rem;
}

.container > .inputs > .labelInput > .labelPassword > .showPassword {
	cursor: pointer;
	user-select: none;
}

.container > .inputs > .labelInput > .labelPassword > .showPassword:hover {
	color: #e94242;
}

.container > .inputs > .labelInput > input {
	font-family: Google Sans;
	font-weight: 400;
	color: #333333;
	padding: 0.4rem 0.8rem;
	outline: none;
	border: 1px solid #ced4da;
	border-radius: 0.35rem;
	background-color: #f0f5fa;
	transition: all 0.3s;
	width: 100%;
}

.container > .inputs > .labelInput > input:focus {
	outline: none;
	border-color: #80bdff;
	box-shadow: 0px 0px 0px 0.2rem rgba(0, 123, 255, 0.25);
}

.container > .inputs > .errorMessage {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1rem;
	width: 100%;
	background-color: #e94242;
	border-radius: 0.5rem;
}

.container > .inputs > .errorMessage > h3 {
	font-family: Google Sans;
	font-weight: 500;
	color: #ffffff;
	font-size: 1.1rem;
	text-align: center;
}

@media (min-width: 45rem) {
	.container {
		width: calc(100% - 18rem);
	}
}

