@keyframes fadeIn {
	0% {
		opacity: 0;
		z-index: 100;
		backdrop-filter: saturate(0%) blur(0px);
	}
	100% {
		opacity: 1;
		z-index: 150;
		backdrop-filter: saturate(180%) blur(3.5px);
	}
}

.auth {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	animation: fadeIn 0.3s ease-in forwards;
}

.auth > .background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}

.auth > .cartel {
	position: relative;
	background-color: #ffffff;
	width: 100%;
	z-index: 151;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.auth > .cartel > .welcome {
	position: relative;
	z-index: 152;
	width: 100%;
	height: 11rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.auth > .cartel > .mdClose {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	z-index: 155;
	color: #ffffff;
}

.auth > .cartel > .welcome > .image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 153;
}

.auth > .cartel > .welcome > .filter {
	position: absolute;
	z-index: 154;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: saturate(180%) blur(5px);
}

.auth > .cartel > .welcome > h1 {
	z-index: 155;
	margin-top: 1.5rem;
	position: relative;
	z-index: 405;
	color: #ffffff;
	font-family: Google Sans;
	font-weight: 700;
	font-size: 2rem;
}

.auth > .cartel > .welcome > .button {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	z-index: 155;
	position: relative;
	padding: 1rem 1.5rem;
	gap: 0.5rem;
}

.auth > .cartel > .welcome > .button > h3 {
	font-family: Google Sans;
	font-weight: 500;
	color: #ffffff;
	font-size: 1.1rem;
}

.auth > .cartel > .welcome > .button > button {
	font-family: Google Sans;
	font-weight: 500;
	color: #ffffff;
	font-size: 1rem;
	background-color: transparent;
	padding: 0.2rem 1rem;
	border-radius: 8px;
	border-color: #ffffff;
	outline: none;
	border-style: solid;
	cursor: pointer;
	transition: all 0.3s;
}

.auth > .cartel > .welcome > .button > button:hover {
	color: #333333;
	background-color: #ffffff;
}

@media (min-width: 45rem) {
	.auth {
		align-items: center;
		justify-content: center;
	}

	.auth > .cartel {
		flex-direction: row;
		width: 45rem;
		height: 45rem;
		gap: 0rem;
	}

	.auth > .cartel > .mdClose {
		color: #333333;
	}

	.auth > .cartel > .welcome {
		position: relative;
		min-width: 18rem;
		max-width: 18rem;
		height: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
}
