/* light */
@font-face {
	font-family: Louis George Cafe;
	font-style: normal;
	font-weight: 300;
	src: local("Louis George Cafe Light"), local("Louis-George-Cafe-Light"), url(louis-george-cafe-light.woff2) format("woff2");
	font-display: swap;
}

/* regular */
@font-face {
	font-family: Louis George Cafe;
	font-style: normal;
	font-weight: 400;
	src: local("Louis George Cafe Regular"), local("Louis-George-Cafe-Regular"), url(louis-george-cafe.woff2) format("woff2");
	font-display: swap;
}

/* bold */
@font-face {
	font-family: Louis George Cafe;
	font-style: normal;
	font-weight: 700;
	src: local("Louis George Cafe Bold"), local("Louis-George-Cafe-Bold"), url(louis-george-cafe-bold.woff2) format("woff2");
	font-display: swap;
}

/* regular */
@font-face {
	font-family: Google Sans;
	font-style: normal;
	font-weight: 400;
	src: url(google-sans-regular.woff2) format("woff2");
	font-display: swap;
}

/* italic */
@font-face {
	font-family: Google Sans;
	font-style: italic;
	font-weight: 400;
	src: url(google-sans-italic.woff2) format("woff2");
	font-display: swap;
}

/* medium */
@font-face {
	font-family: Google Sans;
	font-style: normal;
	font-weight: 500;
	src: url(google-sans-medium.woff2) format("woff2");
	font-display: swap;
}

/* mediumitalic */
@font-face {
	font-family: Google Sans;
	font-style: italic;
	font-weight: 500;
	src: url(google-sans-mediumitalic.woff2) format("woff2");
	font-display: swap;
}

/* bold */
@font-face {
	font-family: Google Sans;
	font-style: normal;
	font-weight: 700;
	src: url(google-sans-bold.woff2) format("woff2");
	font-display: swap;
}

/* bolditalic */
@font-face {
	font-family: Google Sans;
	font-style: italic;
	font-weight: 700;
	src: url(google-sans-bolditalic.woff2) format("woff2");
	font-display: swap;
}