.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 150;
	backdrop-filter: saturate(180%) blur(3.5px);
	background-color: rgba(0, 0, 0, 0.6);
}

.cart {
	z-index: 151;
	background-color: #f0f5fa;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.cart > .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

.cart > .header > .title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.cart > .header > .icon,
.cart > .header > .title > .icon {
	width: 25px;
	height: auto;
	color: #333333;
}

.cart > .header > .icon {
	cursor: pointer;
}

.cart > .header > .title > h2 {
	font-family: Google Sans;
	font-weight: 700;
	font-size: 1.25rem;
	color: #333333;
}

.cart > .renderCart {
	display: block;
	padding: 1rem 0rem;
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

.cart > .noCart {
	padding: 1rem 0rem;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart > .noCart > h3 {
	font-family: Google Sans;
  font-weight: 700;
  font-size: 1.3rem;
  color: #333333;
}

.cart > .footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.15);
  gap: 1rem;
}

.cart > .footer > .data {
	display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}

.cart > .footer > .data > h3 {
	font-family: Google Sans;
  font-weight: 500;
  font-size: 1.2rem;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cart > .footer > .data > h4 {
	font-family: Google Sans;
  font-weight: 400;
  font-size: 1rem;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cart > .footer > .method {
	display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.cart > .footer > .method > .line {
	border: 1px solid #333333;
  width: 100%;
  height: 0rem;
  border-top: none;
  opacity: 0.6;
}

.cart > .footer > .method > h4 {
	font-family: Google Sans;
  font-weight: 500;
  color: #333333;
  white-space: nowrap;
}

.cart > .footer > .button {
	width: 15rem;
  height: 7.5rem;
  border: 1px solid rgba(51, 51, 51, 0.2);
  overflow: hidden;
  border-radius: 0.5rem;
  margin: auto;
  transition: all 0.3s;
}

.cart > .footer > .button:hover {
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.cart > .footer > .button > .image {
	width: 100%;
  height: 100%;
	object-fit: cover;
	object-position: center;
}

@media (min-width: 30rem) {
  .cart {
    width: 30rem;
  }
}
