.header {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.header>.headerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
  margin: auto;
  padding: 0rem 1.75rem;
}

.header>.headerContainer>h2 {
  font-family: Google Sans;
  font-weight: 700;
  color: #333333;
}

.header>.headerContainer>.headerButtonsContainer {
  display: flex;
  align-items: center;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin,
.header>.headerContainer>.headerButtonsContainer>.mdDashBoard,
.header>.headerContainer>.headerButtonsContainer>.mdShoppingCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  color: #333333;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #DDDDDD;
  border-top: none;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin:hover,
.header>.headerContainer>.headerButtonsContainer>.mdDashBoard:hover,
.header>.headerContainer>.headerButtonsContainer>.mdShoppingCart:hover {
  background-color: #F0F5FA;
}

.header>.headerContainer>.headerButtonsContainer>.mdDashBoard>.icon,
.header>.headerContainer>.headerButtonsContainer>.mdShoppingCart>.icon {
  width: 1.4rem;
  height: 1.4rem;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin>h4 {
  font-family: Google Sans;
  font-weight: 700;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin>h5,
.header>.headerContainer>.headerButtonsContainer>.mdDashBoard>h5,
.header>.headerContainer>.headerButtonsContainer>.mdShoppingCart>h5 {
  font-family: Google Sans;
  font-weight: 400;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin>h5 {
  color: #E94242;
}