.header {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 99;
}

.header>.headerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
  margin: auto;
  padding: 0rem 1rem;
  height: 100%;
}

.header>.headerContainer>h2 {
  font-family: Google Sans;
  font-weight: 700;
  font-size: 1.2rem;
  color: #333333;
}

.header>.headerContainer>.headerButtonsContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin,
.header>.headerContainer>.headerButtonsContainer>.mdDashBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 100%;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #DDDDDD;
  border-top: none;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin:hover,
.header>.headerContainer>.headerButtonsContainer>.mdDashBoard:hover,
.header>.headerContainer>.headerButtonsContainer>.isLoginMenu:hover {
  background-color: #F0F5FA;
}

.header>.headerContainer>.headerButtonsContainer>.mdDashBoard>.icon {
  width: 1.4rem;
  height: 1.4rem;
  color: #333333;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin>h4 {
  font-family: Google Sans;
  font-weight: 700;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin>h5,
.header>.headerContainer>.headerButtonsContainer>.mdDashBoard>h5 {
  font-family: Google Sans;
  font-weight: 400;
  white-space: nowrap;
  color: #333333;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin>h5 {
  color: #E94242;
}

.header>.headerContainer>.headerButtonsContainer>.isLoginMenu {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  height: 100%;
  color: #333333;
  background-color: #FFFFFF;
  border-width: 1px;
  border: 1px solid #DDDDDD;
  border-right: none;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
}

.header>.headerContainer>.headerButtonsContainer>.loginMenuActive {
  background-color: #F0F5FA;
}

.header>.headerContainer>.headerButtonsContainer>.isLoginMenu>.image {
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
  background-position: center; 
}

.header>.headerContainer>.headerButtonsContainer>.isLoginMenu>.noImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #FF716C;
  font-family: Google Sans;
  font-weight: 500;
  color: #FFFFFF;
}

.header>.headerContainer>.headerButtonsContainer>.isLoginMenu>.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.header>.headerContainer>.headerButtonsContainer>.isLoginMenu>.info>h4 {
  font-family: Google Sans;
  font-weight: 400;
  color: #E94242;
  font-size: 0.9rem;
}

.header>.headerContainer>.headerButtonsContainer>.isLoginMenu>.info>h5 {
  font-family: Google Sans;
  font-weight: 400;
  color: #333333;
  font-size: 0.8rem;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  color: #333333;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #DDDDDD;
  border-top: none;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
}

.header>.headerContainer>.headerButtonsContainer>.noLoginActive {
  background-color: #F0F5FA;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin:hover {
  background-color: #F0F5FA;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin>h4 {
  font-family: Google Sans;
  font-weight: 700;
  color: #333333;
  font-size: 0.9rem;
}

.header>.headerContainer>.headerButtonsContainer>.noLogin>h5 {
  font-family: Google Sans;
  font-weight: 400;
  color: #E94242;
  font-size: 0.8rem;
}

.header>.headerContainer>.headerButtonsContainer>.buttonMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: none;
  background-color: #FFFFFF;
  height: 100%;
  width: 3.5rem;
  cursor: pointer;
  outline-style: none;
  padding: 0.5rem;
}

.header>.headerContainer>.headerButtonsContainer>.buttonMenuActive {
  background-color: #F0F5FA;
}

.header>.headerContainer>.headerButtonsContainer>.buttonMenu>.outlineMenu {
  width: 1.4rem;
  height: 1.4rem;
  color: #333333;
}

.header>.headerContainer>.headerButtonsContainer>.buttonMenu>h5 {
  font-family: Google Sans;
  font-weight: 400;
  white-space: nowrap;
  color: #333333;
}

.menu {
  position: fixed;
  margin-top: 4rem;
  margin-right: 0rem;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  background-color: #FFFFFF;
  z-index: 100;
  opacity: 1;
  transition: all 0.3s;
}

.openMenu {
  display: flex;
}

.loginWindow {
  position: absolute;
  margin-top: 4rem;
  display: none;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 4rem);
  z-index: 98;
  background-color: #FFFFFF;
}

.openLoginWindow {
  display: flex;
}

@media (min-width: 1367px) {
  .menu {
    position: absolute;
    margin-top: 4.2rem;
    margin-right: 1rem;
    top: 0;
    right: 0;
    width: 160px;
    height: auto;
    display: none;
    flex-direction: column;
    background-color: #333333;
    z-index: 420;
  }
  
  .openMenu {
    display: flex;
  }

  .loginWindow {
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: transparent;
    width: 100%;
    min-height: calc(100vh - 4rem);
    z-index: 100;
  }

  .openLoginWindow {
    display: flex;
  }
}