.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.message {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 101;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.message > .desing {
	padding: 1.5rem;
	background-color: #ffffff;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.message > .desing > h3 {
	font-family: Google Sans;
	font-weight: 500;
	text-align: center;
	color: #333333;
}

.message > .desing > div {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.message > .desing > div > button {
	font-family: Google Sans;
	font-weight: 500;
	color: #ffffff;
	background-color: #e94242;
	border: 2px solid #ff716c;
	cursor: pointer;
	width: 100%;
	padding: 0.25rem 1rem;
	outline: none;
	border-radius: 0.5rem;
	transition: all 0.3s;
}

.message > .desing > div > button:hover {
	background-color: #c02e2e;
}

.hide {
	display: none;
}

.usersInfoSection {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	padding: 1rem;
	gap: 1rem;
	min-height: calc(100vh - 27rem);
	background-color: #ffffff;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.usersInfoSection > .sectionTitle {
	font-family: Google Sans;
	font-weight: 500;
	color: #333333;
	text-align: center;
}

.usersInfoSection > .users {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 0.5rem;
}

.usersInfoSection > .users > .user {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.usersInfoSection > .users > .user > .userInfo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: calc(100% - 160px);
}

.usersInfoSection > .users > .user > .userActive {
	width: 100%;
}

.usersInfoSection > .users > .user > .userInfo > .profilePicture {
	min-width: 3rem;
	max-width: 3rem;
	height: 3rem;
	background-size: cover;
	background-position: center;
}

.usersInfoSection > .users > .user > .userInfo > .noProfilePicture {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 3rem;
	height: 3rem;
	background-color: #ff716c;
	font-family: Google Sans;
	font-weight: 500;
	color: #ffffff;
}

.usersInfoSection > .users > .user > .userInfo > .userEmail {
	display: flex;
	flex-direction: column;
	width: 65%;
}

.usersInfoSection > .users > .user > .userActive > .userEmail {
	width: 100%;
}

.usersInfoSection > .users > .user > .userInfo > .userEmail > h3 {
	font-family: Google Sans;
	font-weight: 500;
	font-size: 1rem;
	color: #333333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.usersInfoSection > .users > .user > .userInfo > .userEmail > h5 {
	font-family: Google Sans;
	font-weight: 400;
	font-size: 0.8rem;
	color: #333333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.usersInfoSection > .users > .user > .userButtons {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.usersInfoSection > .users > .user > .userButtons > .button {
	min-width: 3rem;
	height: 3rem;
	color: #ffffff;
	background-color: #e94242;
	border: 2px solid #ff716c;
	cursor: pointer;
	padding: 0.8rem;
	outline: none;
	border-radius: 0.5rem;
	transition: all 0.3s;
}

.usersInfoSection > .users > .user > .userButtons > .button:hover {
	background-color: #c02e2e;
}

@media (min-width: 80rem) {
	.usersInfoSection {
		max-width: 80rem;
		margin: auto;
		margin-top: 1rem;
	}
}
