.sectionCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0.5rem;
}

.sectionCart>.showProducts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40rem;
}

.sectionCart>.showProducts>.buy {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  height: 4rem;
}

.sectionCart>.showProducts>.buy>.buyButton {
  font-family: Louis George Cafe;
  padding: 0.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  border-style: none;
  background: #191919;
  cursor: pointer;
  transition: all .5s;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.sectionCart>.showProducts>.products>.card>.endSectionCard>.deleteProductButton {
  box-shadow: none;
}

.sectionCart>.showProducts>.products {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.sectionCart>.showProducts>.products>.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem;
  gap: 1rem;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
}

.sectionCart>.showProducts>.products>.card>.deleteProductButton {
  font-family: Louis George Cafe;
  padding: 0.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  border-style: none;
  background: #191919;
  cursor: pointer;
  transition: all .5s;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.sectionCart>.showProducts>.products>.card>.priceNameSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.sectionCart>.showProducts>.buy>.infoBuy {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.sectionCart>.showProducts>.buy>.infoBuy>h3,
.sectionCart>.showProducts>.buy>.infoBuy>h4,
.sectionCart>.showProducts>.products>.card>h4,
.sectionCart>.showProducts>.products>.card>.priceNameSection>h3 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  white-space: nowrap;
}

.sectionCart>.showProducts>.products>.card>.priceNameSection>h3,
.sectionCart>.showProducts>.products>.card>.priceNameSection>h5 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sectionCart>.showProducts>.products>.card>.priceNameSection>h5 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  opacity: 0.8;
}