.sectionCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 79rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0.5rem;
}

.sectionCart>.showProducts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60rem;
}

.sectionCart>.showProducts>.buyButton,
.sectionCart>.showProducts>.products>.card>.endSectionCard>.deleteProductButton {
  font-family: Louis George Cafe;
  padding: 0.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  border-style: none;
  background: #191919;
  cursor: pointer;
  transition: all .5s;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.sectionCart>.showProducts>.products>.card>.endSectionCard>.deleteProductButton {
  box-shadow: none;
}

.sectionCart>.showProducts>.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

.sectionCart>.showProducts>.products>.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32.77%;
  gap: 1rem;
  height: auto;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.sectionCart>.showProducts>.products>.card>.startSectionCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.sectionCart>.showProducts>.products>.card>.startSectionCard>.imageProduct {
  width: 100%;
  height: 9rem;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.sectionCart>.showProducts>.products>.card>.endSectionCard>h4,
.sectionCart>.showProducts>.products>.card>.startSectionCard>h2 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.sectionCart>.showProducts>.products>.card>.startSectionCard>h4 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  opacity: 0.8;
}

.sectionCart>.showProducts>.products>.card>.endSectionCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}