.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0rem;
  width: 100%;
  margin: 0.5rem;
  padding-top: 0.5rem;
}

.categories .category {
  position: relative;
  width: 13rem;
  height: 13rem;
  overflow: hidden;
  display: flex;
  background-color: #000000;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 1;
}

.categories .category:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.categories .category .image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  filter: blur(0.5rem);
  z-index: 1;
}

.categories .category .title {
  position: relative;
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  z-index: 2;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}