.backgroundLogin {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;
  background-image: url(/img/login-background-1.jpg);

  filter: brightness(0.5) blur(1rem);

  z-index: 1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: #FFFFFF;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.container section div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container section h1 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
}

.container section div form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container section div form button {
  font-family: Louis George Cafe;
  padding: 0.3rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #191919;
  background: #191919;
  width: 100%;

  cursor: pointer;

  transition: all .5s;
}

.container section div form button:hover {
  color: rgba(255, 255, 255, 1);
}

.container section div form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.container section div form div input {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 400;
  border-radius: 6px;
  border-width: 2px;
  padding: 0.5rem;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}

.container section button {
  font-family: Louis George Cafe;
  padding: 0.3rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #191919;
  background: #191919;
  width: 100%;

  cursor: pointer;

  transition: all .5s;
}

.container section button:hover {
  color: rgba(255, 255, 255, 1);
}

.container .background {
  display: none;
  position: fixed;
  top: 0rem;
  right: 0rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8)
}

.container .backgroundDisplay {
  display: block;
  z-index: 2;
}

.container .errorMessage {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 8px;
  margin: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.container .errorMessage h3 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.container .errorMessage button {
  margin-top: 1rem;
  font-family: Louis George Cafe;
  padding: 0.3rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #191919;
  background: #191919;
  width: 100%;
  cursor: pointer;
  transition: all .5s;
}

.container .errorMessageDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}