.container {
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
  gap: 1rem;
}

.container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32.48%;
  gap: 1rem;
  height: auto;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.container .card .startSectionCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.container .card .startSectionCard .image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.container .card .startSectionCard h2 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
}

.container .card .startSectionCard h4 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  opacity: 0.8;
}

.container .card .endSectionCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.container .card .endSectionCard div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.container > .card > .endSectionCard > .hidePrices {
  display: none;
}

.container .card .endSectionCard div .predefinedPrice {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-width: 1px;
  border-radius: 4px;
  height: 2rem;
  padding: 0.5rem;
  width: 100%;
}

.container .card .endSectionCard div .predefinedPrice:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.container .card .endSectionCard div .selectPredefinedPrice {
  background-color: rgba(0, 0, 0, 0.1);
}

.container .card .endSectionCard div h4 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
}

.container .card .endSectionCard .quantity h4 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-style: solid;
  border-right: 0px;
  border-radius: 4px 0px 0px 4px;
  border-width: 1px;
  border-color: #000000;
  height: 2rem;
  padding-inline: 0.5rem;
}

.container .card .endSectionCard .quantity input {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  padding: 0.5rem;
  border-width: 1px;
  border-radius: 0px 4px 4px 0px;
  width: 100%;
  height: 2rem;
  outline: 1px;
}

.container .card .endSectionCard .quantity {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  width: 100%;
}

.container .card .endSectionCard .addToCart {
  margin-top: 0.5rem;
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  background-color: #A7C957;
  border-width: 0px;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.container .card .endSectionCard .addToCart:hover {
  color: rgba(255, 255, 255, 1);
}

.buttonAddProductSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  bottom: 2rem;
  width: 80rem;
  height: 6rem;
}

.hideButtonAddProductSection {
  display: block;
}

.buttonAddProductSection .buttonAddProduct {
  position: absolute;
  padding: 1rem 1rem;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  background-color: #191919;
  cursor: pointer;
}

.buttonAddProductSection .buttonAddProduct > .image {
  filter: invert();
  opacity: 0.5;
  width: 3rem;
  height: 3rem;
  transition: all 0.3s;
}

.buttonAddProductSection .buttonAddProduct:hover > .image {
  opacity: 1;
}

.addProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hideAddProduct {
  display: none;
}

.addProduct > .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000000;
  opacity: 0.5;
}

.addProduct > .addProductCartel {
  width: 40rem;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.addProduct > .addProductCartel > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.addProduct > .addProductCartel > form > h2 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.addProduct > .addProductCartel > form > .image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.addProduct > .addProductCartel > form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.addProduct > .addProductCartel > form > div > h5,
.addProduct > .addProductCartel > form > div > label {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  text-align: start;
}

.addProduct > .addProductCartel > form > div > h5 {
  margin-bottom: 0.2rem;
  opacity: 0.8;
}

.addProduct > .addProductCartel > form > div > input,
.addProduct > .addProductCartel > form > div > select,
.addProduct > .addProductCartel > form > div > div > input {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
  padding: 0.2rem;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  outline: none;
}

.addProduct > .addProductCartel > form > div > select {
  cursor: pointer;
}

.addProduct > .addProductCartel > form > div > div,
.addProduct > .addProductCartel > form > .submitButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.addProduct > .addProductCartel > form > button, 
.addProduct > .addProductCartel >.button,
.errorMessage > div:not(.errorMessageBackground) > button {
  font-family: Louis George Cafe;
  padding: 0.3rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #191919;
  background: #191919;
  width: 100%;
  cursor: pointer;
  transition: all .5s;
}

.addProduct > .addProductCartel > form > button:hover, 
.addProduct > .addProductCartel >.button:hover,
.errorMessage > div:not(.errorMessageBackground) > button:hover {
  color: rgba(255, 255, 255, 1);
}

.addProduct > .addProductCartel >.button {
  width: 100%;
  z-index: 3;
}

.addProduct > .addProductCartel > form > .hidePrice {
  display: none;
}

.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hideErrorMessage {
  display: none;
}

.errorMessage > .errorMessageBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 4;
}

.errorMessage > div:not(.errorMessageBackground) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.errorMessage > div:not(.errorMessageBackground) > h1 {
  font-family: Louis George Cafe;
  font-style: normal;
  font-weight: 700;
}