.purchaseHistory {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5rem 1rem 1rem 1rem;
  padding: 1rem;
  min-height: calc(100vh - 6rem);
  background-color: #FFFFFF;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.purchaseHistory>h3 {
  font-family: Google Sans;
  font-weight: 500;
  color: #333333;
  text-align: center;
}

.purchaseHistory>.purchaseSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.purchaseHistory>.noPurchase {
  min-height: calc(100vh - 11rem);
  justify-content: center;
}

.purchaseHistory>.noPurchase>h2 {
  font-family: Google Sans;
  font-weight: 700;
  text-align: center;
  color: #333333;
}

.purchaseHistory>.purchaseSection>.purchaseCard {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  background-color: #F0F5FA;
  padding: 1rem;
  border: 1px solid #DCE3E8;
}

.purchaseHistory>.purchaseSection>.purchaseCard>.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.purchaseHistory>.purchaseSection>.purchaseCard>.info>.title,
.purchaseHistory>.purchaseSection>.purchaseCard>.info>.content {
  font-family: Google Sans;
  font-weight: 700;
  font-size: 1rem;
  color: #333333;
  width: 60%;
}

.purchaseHistory>.purchaseSection>.purchaseCard>.info>.content {
  font-weight: 500;
  opacity: 0.8;
  width: 40%;
}

@media (min-width: 40rem) {
  .purchaseHistory>.purchaseSection>.purchaseCard {
    flex-direction: row;
    justify-content: space-between;
  }

  .purchaseHistory>.purchaseSection>.purchaseCard>.info {
    flex-direction: column;
    width: 100%;
  }

  .purchaseHistory>.purchaseSection>.purchaseCard>.info>.title,
  .purchaseHistory>.purchaseSection>.purchaseCard>.info>.content {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 80rem) {
  .purchaseHistory {
    max-width: 80rem;
    margin: auto;
    margin-top: 5rem;
  }
}